<!--The content below is only a placeholder and can be replaced.-->
input([(ngModel)]="name" type="text" placeholder="Name")
button((click)="sendMessage()") Hi UI thread
span Response: {{ response | async }}
